body{
    margin: 0;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    margin-left: 10%;
    margin-top: 5%;
    padding-right: 5%;
}
.half-width img{
    
    width: 90%;
    padding-right:12%;
    
}
.person{
    height: 400px;
}
h1{
 font-size:45px;
}
span{
    color: orange;
}
p{
    color: slategrey;
    font-size: large;
}
.link-button{
    background-image: linear-gradient(tomato,orange);
    color: white;
    text-decoration: none;
    font-weight: 900;
    padding: 10px 40px;
    border-radius: 50px;
}
.body{
    display: flex;
    background-image: url(images/person-bg.png);
    background-repeat: no-repeat;
}
.lower-section{
    display: flex ;
    margin-bottom: 50%;
    

}
.part{
    width: 50%;
    margin-right: 3%;
    margin-left: 3%;
    padding-left: 3%;
    border-radius: 10px;
    box-shadow: 5px 10px 30px gray;

}
.img-size{
    height: 200px;
    width:500px;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: center;
    
}
.center{
    text-align: center;
}
.p-center{
    text-align: center;
}